<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Detail de l'avion</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
 <div th:if="${plane != null}">
  <form action="planete" th:action="@{/plane-detail}" method="post">
   <p>Id :</p>
   <p>
    <input type="text" name="id" th:value="${plane.id}" />
   </p>
   <p>Nom :</p>
   <p>
    <input type="text" name="name" th:value="${plane.name}" />
   </p>
   <p>Modèle :</p>
   <p>
    <input type="text" name="model" th:value="${plane.model}" />
   </p>
   <input type="submit" value="Sauvegarder" />
  </form>
 </div>

</body>
</html>